/* Font */
/* @import url('https://fonts.googleapis.com/css?family=Lato|Major+Mono+Display'); */
/* CSS reset */

*, *:before, *:after {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato','open sans', sans-serif;
    font-style: normal;
    position: relative;
    color:inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    --mainGreen: #acf7c1;
    --mainWhite: #f1f1f1;
    --mainGrey: #424242;
    --mainYellow: #ebcc19;
    --mainRed: #d65108;


    --primaryColor: #abc;
    --secondaryColor: #ebc;

    --fontHeading: 'Major Mono','Open Sans',serif;
    --fontContent: 'Lato',sans-serif;
    
    --shadowColor: 2px 0 rgba(0,0,0,.15);

    --minSize: 20rem;
    --medSize: 20rem;
    --maxSize: 15rem;

    /* 
        Grid
    */

    --gridDesk: 6fr 2fr 3fr 2fr 4fr;
    --gridMed: 6fr 2fr 1fr 1fr 2fr;
}

body{
    background: var(--mainGrey);
    overflow: hidden;
    transition: .5s ease filter;
}

body.bw{
    filter: grayscale(1);
}

main{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    height: var(--maxSize);
    width: var(--maxSize);
    margin: auto;
    perspective: 100vw;
    transform-style: preserve-3d;
    transition: .5s ease-out all;
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) rotate(45deg);
}

.container-grid{
    display: grid;
    grid-template-columns: var(--gridMed);
    grid-template-rows: var(--gridDesk);
    height: var(--minSize);
    background: var(--gridColor);
    position: absolute;
    transform-origin: center center;
    transition: .5s ease all, 1s ease grid-template-columns, 1s ease grid-template-rows;
    pointer-events: none;
}

#rain.container-grid{
    height: var(--maxSize);
    width: var(--maxSize);
}

#wind.container-grid{
    height: var(--maxSize);
    width: var(--maxSize);
    opacity: 1;
    grid-template-columns: var(--gridMed);
    grid-template-rows: var(--gridMed);
    transform-origin: left center;
    transform: rotateY(90deg)
}

#sunshine.container-grid{
    height: var(--maxSize);
    width: var(--maxSize);
    opacity: 1;
    grid-template-columns: var(--gridDesk);
    grid-template-rows: var(--gridMed);
    transform-origin: top center;
    transform: rotateX(-90deg)
}

#snow.container-grid{
    height: var(--maxSize);
    width: var(--maxSize);
    opacity: 1;
    grid-template-columns: var(--gridDesk);
    grid-template-rows: var(--gridMed);
    transform-origin: bottom center;
    transform: rotateX(90deg)
}

#storm.container-grid{
    height: var(--maxSize);
    width: var(--maxSize);
    opacity: 1;
    grid-template-columns: var(--gridDesk);
    grid-template-rows: var(--gridMed);
    transform-origin: right center;
    transform: rotateY(-90deg)
}

.container:hover .container-grid{
    transform: rotate(90deg) scale(.5) !important;
}

.container-grid .square{
    background: #f1f1f1;
    opacity: 1;
    animation: blink 15s ease-out forwards infinite;
    text-align: center;
}

#rain.container-grid .square{
    background: var(--mainGreen);
}

#wind.container-grid .square{
    background: var(--mainWhite);
}

#sunshine.container-grid .square{
    background: var(--mainYellow);
}

#snow.container-grid .square{
    background: #ebc;
}

#storm.container-grid .square{
    background: var(--mainRed);
}



.square:nth-child(1){
    background: #424242;
    animation: blink 7s ease forwards infinite;
}

.square:nth-child(2){
    background: #424242;
    animation: blink 3s ease-out forwards infinite;
}

.square:nth-child(3){
    background: #424242;
    animation: blink 5s ease forwards infinite;
}

.square:nth-child(4){
    background: #424242;
    animation: blink 3s ease forwards infinite;
}

@keyframes blink{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}